@import '../variabili';
@import './hero.scss';
main{
    background-color: $bg-dark;
}


 h3{
        color: #fff;
    }
.img-fumetto {
    width: 100%;
}

.bg-dark {
    background-color: black;
    padding: 5px;
}
.text-uppercase{
    text-transform: uppercase;
    color: white;
}
.bg-green{
    background-color: lightgreen;
    padding: 15px;
}
ul{
    li{
        margin: 0 10px 0 10px;
    }
}
.rows{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .col-8{
        width: 60%;
        margin-right: 30px;
    }
    .col-4{
        width: 40%;
    }
}

.button-current{
    margin-top: -120px;
    padding: 10px;
    background-color: $background-blue;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.img-show{
    margin-top: -400px;
}